@charset "utf-8";
/* CSS Document */
html, body, div, span, header, section, nav, article, aside, footer, p, h1, h2, h3, h4{
	border:0; margin:0;padding:0;
}

/* or download a CSS reset e.g. normalize */
html{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px; /* equal to 100% or 1em */
}

.flex-container{
	display:flex;
	flex-wrap:wrap;
	width:80%;
	min-height:100%;
	margin:0 auto;
	background-image:url(../images/background.jpg);
	background-size: cover;
	background-position: center;  
}
.header {
	width:100%;
	height:5em;
  	order: 1;
	background-color:rgba(186,232,235,1.00);
}
.nav {
	width:100%;
	height:3em;
  order: 2;
	background-color:rgba(229,176,241,1.00);
}
.menuItem{
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:25%;
	height:3em;
	float:left;
	background-color:rgba(0,0,0,1.00);
	color:#FFF;
	transition: transform 1s, background 1s, font-size 1s;
}
.menuItem:hover{
	background-color:rgba(255,0,0,1.00);
	transform: scale(1, 1.2);
	
}
article{
  display:flex;
  flex-wrap:wrap;
  order: 4;
  flex: 1 60%;
  background-color: rgba(245, 248, 235, 0.65);
}

.contentLeft {
  order: 3;
  flex: 1 20%;
  background-color:rgb(170, 219, 155);
}
.contentRight{
  order: 5;
  flex: 1 20%;
  background-color:rgb(170, 219, 155);
}
footer {
  display:flex;
  width:100%;
  height:4em;
  order:6;
  justify-content:center;
  align-items:center;
  background-color: antiquewhite;
}

.bigholder {
	width:100%;
	height:auto;
	float:left;
}

.holder{
	width:33%;
	min-height:600px;
	float:left;
}

.holder img {
	width:100%;
	height:100%;
	box-sizing: border-box;
	border: 1px solid black;
}

figure {
	width: 80%;
	margin: 5% auto;
	background-color: antiquewhite;
}

figcaption { /*keep the buttons at the bottom of figcaption*/
	min-height: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end; 
	justify-content: space-around;
}

.holder a { /*style the edit and del buttons*/
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	width: 50%;
	display: flex;
	justify-content: center;	
	line-height: 40px;
	text-align: center;		
	background-color: gainsboro;
}

.black {
	font-size: 1em;
	width: 100%;
}

a:link, a:active, a:visited{
  color:lightgray;
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
	.flex-container {
		width:100%;
	}
	.nav {
		order:1;
	}
	.header {
		order:2;
	}
	.contentLeft, .contentRight {
		display:none;
	}
}

@media only screen and (max-width: 600px) {
	.flex-container {
		width:100%;
	}
	.holder {
		width:100%;		
	}
	.contentLeft, .contentRight {
		display:none;
	}
	.nav {
		height:auto;
	}
	.menuItem {
		width:100%;
	}
	.menuItem:hover{
		transform: scale(1.1, 1);
	}
}
